
{% extends 'home/index.html' %}

{% block title_pagina %}
<title> Ver personas </title>
{% endblock title_pagina %}

{% block h1_texto_header %}
Ver personas
{% endblock h1_texto_header %}

{% block index_contenido %}
<a class="navbar-brand" href={% url 'Home' %} >Home</a>
<p>Listado de personas:</p>
{% for persona in personas %}
    <li> {{persona.nombre}} {{persona.apellido}} - {{persona.edad}} años de edad - datos ingresados el {{persona.fecha_creacion}} </li>
{% endfor %}
{% endblock index_contenido %}